*{
    font-family:monospace;
}

main,header{
    margin: auto;
    width: 90%;
}

body{
    background-color: #423E3A;
    margin:  0;
    height: 100vh;

    
}


header img{
    width: 3.3em;
    height: 3.3em;
    margin-right: 5px;


}

header{
   
    display: flex;
    justify-content: space-between;

    border-bottom:solid 2px #B29E84 ;
    margin-bottom: 10px;

    padding: 0 5px;
}

header h1{
    font-size: 1.8rem;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header,nav a{
    color: #B29E84;
}

nav{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    transition: 0.7s ease;

}

nav a:hover{
    font-weight: 900;
    text-shadow: 0 0 10px #fff;
    
    transform: scale(1.2);
    color: whitesmoke;

}

main{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section img{
    width: 37em; 
    border-radius: 3px;

}

section{
    width: 48%;
    color: #fff;
    text-shadow: 0 0 10px rgba(248, 245, 245, 0.263);
}


section h5{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0;
}

section h1{
    font-size: 2.8rem;
    font-weight: 900;
    margin-top:0 ;
}


section h6{
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 5px;
    text-align: justify;
    
}

section p{
    font-size: 1.4rem;
    font-weight:100;
    color: #ffffffba;
    margin-bottom: 20px;

}

section button{

    box-shadow: 1px 1px 10 black ;
    width: 11em;
    height: 5vh;
    border: none;
    border-radius: 25px;
    font-size: 1.3rem;
    font-weight: 800;
    transition: 0.7s ease;
    
}
    
section button:hover{
    background-color: #B29E84;
    color: whitesmoke;
    transform: scale(1.1);
    text-shadow: 0 0 25px #fff;
    box-shadow:0 0 15px rgb(96, 96, 96);
}

section form{
    text-align: end;
}
